<%= form_for(@blog, url: choose_new_or_edit) do |f| %>
 <!-- 下記エラー表示方法を、<%= f.error_messages! %>にて代用する -->
 <!-- <% if @blog.errors.any? %>
  <div id="error_explanation">
   <%#バリデーションエラーの件数を表示します。%>
   <h2><%= @blog.errors.count %>件のエラーがあります。</h2>

   <ul>
   <%# @blog.errorsは@blogをバリデーションした際のエラー情報です。
       #full_messagesは複数のエラーメッセージを表します。 %>
   <% @blog.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
   <% end %>
   </ul>
  </div>
 <% end %> -->

 <%= f.error_messages! %>

 <%= f.label :title %>
 <%= f.text_field :title, class: 'form-control' %>
 <br>
 <%= f.label :content %>
 <%= f.text_area :content, :size => "20x8", class: 'form-control' %>
 <br>
 <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
